<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bird-1.png</key>
		<dict>
			<key>x</key>
			<integer>193</integer>
			<key>y</key>
			<integer>65</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>bird-2.png</key>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>65</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>bird-3.png</key>
		<dict>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>65</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>33</integer>
		</dict>
		<key>bird-4.png</key>
		<dict>
			<key>x</key>
			<integer>898</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>31</integer>
		</dict>
		<key>bird-5.png</key>
		<dict>
			<key>x</key>
			<integer>757</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>bird-6.png</key>
		<dict>
			<key>x</key>
			<integer>804</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>bird-7.png</key>
		<dict>
			<key>x</key>
			<integer>663</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>bird-8.png</key>
		<dict>
			<key>x</key>
			<integer>522</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>26</integer>
		</dict>
		<key>bird-9.png</key>
		<dict>
			<key>x</key>
			<integer>475</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>25</integer>
		</dict>
		<key>bird-10.png</key>
		<dict>
			<key>x</key>
			<integer>381</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>bird-11.png</key>
		<dict>
			<key>x</key>
			<integer>193</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>22</integer>
		</dict>
		<key>bird-12.png</key>
		<dict>
			<key>x</key>
			<integer>99</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>bird-13.png</key>
		<dict>
			<key>x</key>
			<integer>569</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-14.png</key>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-15.png</key>
		<dict>
			<key>x</key>
			<integer>663</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-16.png</key>
		<dict>
			<key>x</key>
			<integer>710</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-17.png</key>
		<dict>
			<key>x</key>
			<integer>757</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-18.png</key>
		<dict>
			<key>x</key>
			<integer>522</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-19.png</key>
		<dict>
			<key>x</key>
			<integer>475</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-20.png</key>
		<dict>
			<key>x</key>
			<integer>898</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-21.png</key>
		<dict>
			<key>x</key>
			<integer>851</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-22.png</key>
		<dict>
			<key>x</key>
			<integer>945</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-23.png</key>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-24.png</key>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>22</integer>
		</dict>
		<key>bird-25.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>22</integer>
		</dict>
		<key>bird-26.png</key>
		<dict>
			<key>x</key>
			<integer>616</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-27.png</key>
		<dict>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-28.png</key>
		<dict>
			<key>x</key>
			<integer>804</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-29.png</key>
		<dict>
			<key>x</key>
			<integer>428</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-30.png</key>
		<dict>
			<key>x</key>
			<integer>381</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-31.png</key>
		<dict>
			<key>x</key>
			<integer>334</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-32.png</key>
		<dict>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-33.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-34.png</key>
		<dict>
			<key>x</key>
			<integer>193</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-35.png</key>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-36.png</key>
		<dict>
			<key>x</key>
			<integer>99</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>bird-37.png</key>
		<dict>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>bird-38.png</key>
		<dict>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>22</integer>
		</dict>
		<key>bird-39.png</key>
		<dict>
			<key>x</key>
			<integer>334</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>bird-40.png</key>
		<dict>
			<key>x</key>
			<integer>428</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>25</integer>
		</dict>
		<key>bird-41.png</key>
		<dict>
			<key>x</key>
			<integer>569</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>26</integer>
		</dict>
		<key>bird-42.png</key>
		<dict>
			<key>x</key>
			<integer>616</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>bird-43.png</key>
		<dict>
			<key>x</key>
			<integer>851</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>bird-44.png</key>
		<dict>
			<key>x</key>
			<integer>710</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>bird-45.png</key>
		<dict>
			<key>x</key>
			<integer>945</integer>
			<key>y</key>
			<integer>29</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>31</integer>
		</dict>
		<key>bird-46.png</key>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>65</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>33</integer>
		</dict>
		<key>bird-47.png</key>
		<dict>
			<key>x</key>
			<integer>99</integer>
			<key>y</key>
			<integer>65</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>bird-48.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>65</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
	</dict>
</dict>
</plist>